<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      keepVariablesOnReload="true"
      internalLogLevel="Info">

    <!--internalLogFile устанавливается при запуске приложения-->
    <!--Будет находиться в logsFolder/nlog-internal.log-->

    <!--Переменная logsFolder будет установленна при запуске приложения-->
    <!--Она задается в application.conf-->

    <!--${all-event-properties} - вывести все properties, что есть в сообщении-->
    <!--&#xA; - это '\n' в xml-->

    <!--Add Renaissans Logbook target-->
    <extensions>
        <add assembly="RenIns.Logbook"/>
    </extensions>
    
    <!--Console layouts-->
    <variable name="defaultConsoleLayout" value="${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} | ${logger}&#xA;${message}&#xA;--------------------------------"/>
    <variable name="exceptionConsoleLeyout" value="${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} | ${logger}&#xA;${exception:format=ToString}&#xA;--------------------------------"/>
    <variable name="consoleLayout" value="${when:when=length('${exception}') > 0:inner=${exceptionConsoleLeyout}:else=${defaultConsoleLayout}}"/>

    <!--File layouts-->
    <variable name="defaultFileLayout" value="${time:invariant=true} | ${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} | ${logger} |&#xA;${message}"/>
    <variable name="exceptionFileLeyout" value="${time:invariant=true} | ${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} | ${logger} |&#xA;${exception:format=ToString}"/>
    <variable name="fileLayout" value="${when:when=length('${exception}') > 0:inner=${exceptionFileLeyout}:else=${defaultFileLayout}}"/>

    

    <!-- the targets to write to -->
    <targets>

        <target name="logFile"
                xsi:type="File"
                fileName="${var:logsFolder}/${date:format=yyyy-MM-dd}.log"
                encoding="utf-8"
                layout="${var:fileLayout}" >
        </target>

        <target xsi:Type="ColoredConsole" xsi:name="console" xsi:layout="${var:consoleLayout}"/>

        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />
    </targets>
    
    <!-- rules to map from logger name to target -->
    <rules>

        <!--<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="logFile, console, logbook"/>-->
        
        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" maxlevel="Info" writeTo="blackhole" final="true"/>

        <logger name="*" minlevel="Trace" writeTo="logFile, console"/>
        
    </rules>
</nlog>